.item {
    width: 98%;
    display: flex;
    justify-content: space-between;
    gap: 3px;
    border-bottom: 1px solid rgb(196, 191, 191);
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

.description {
    font-size: 14px;
    font-style: italic;
}

.price {
    font-size: 16px;
    color: rgb(122, 26, 26);
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

form input {
    width: 25px;
    border-radius: 6px;
    border: 1px solid rgb(197, 197, 197);
    margin: 0 8px;
}

.btn {
    align-items: center;
    width: 70px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-weight: 600;
    cursor: pointer;
}